# changes for hpi-de-risawoz branch
*.~lock.*
Step_9_translate_database_files/original_version_by_Jim
Step_9_translate_database_files/extract_translations
Step_x_German_translation_with_annotation_tool/info about annotation tool from developers/annotation.exe

# changes for hpi-de-risawoz branch
*.~lock.*
